.main
{
  text-align:center;
  height:100vh; 
  width:100%;
  display:flex; 
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpapercave.com/wp/wp11129051.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.forget_p{
  font-size:13px;
  color:lavender;
  text-decoration: underline;
  font-weight:normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; 
}
.entire {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width:100%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: lightblue; */
  background-image:url("https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  height:100px;
  color:black;
  position:relative;
  padding:20px;
  padding-left:50px;
  
}
.header h2{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header h2,.motto{
  margin:10px;
  padding: 5px !important;
  line-height: 20px;
}
.motto {
  font-size: 14px; 
  color: #f0f2f5; 

}

.settings_menu {
  position: absolute;
  top: 85%;  
  right:2px;
  background-color: #f0f2f5;
  border-radius: 15px;
  padding: 0;
  z-index: 1000; /*higher priority, displays on top of table*/
}

.settings_menu .ant-menu-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  width:90px;
}

.settings_menu .ant-menu-item:hover {
  background-color: #d9d9d9; 
}
.ant-table-cell {
  border-color: #dcdcdc; 
  border-style: solid; 
  border-width: 1px; 
}

.menu_class {
  display: block;
  padding-top: 10px;
  padding-left: 5px;
  text-align: left;
  border-right: #2c7ca4; 
  border-right-style: solid; 
  border-right-width: 1px; 
  /* background-color: #3484ac;  */
}

.menu_item {
  transition:  0.3s;
}
.menu_item:hover {
  background-color: #1890ff;  
  color: white;               
}
.content {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  overflow-y: auto;
  }

.footer {
  /* background-color:#3c84ac; */
  /* background-image: url("https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover; */
  background-color:#2a79a1;
  text-align: center;
  height:60px;
  margin:0px;
  color: white;
  padding: 0px;
}
.footer p{
  color:white
}
.footer a{
  color:white
}
.footer a:hover{
  color:yellow
}
    